<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>headers}}
    <img src="/img/IMG_20180218_104413848.jpg">
    {{!-- <p>created by{{name}}</p> --}}
    {{>footer}}
</body>

</html>