<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    
    {{>headers}}
    
    <p>Enter city name along with district or state for better results</p>
    <input id="inp" placeholder="enter the city here">
    <button id="btn">Search</button>
    <div id="d1">
        <p id="p1"></p>
        <p id="p2"></p>
        <p id="p3"></p>

    </div>
    {{!-- <p>created by {{name}}</p> --}}

    {{>footer}}
    
</body>

</html>